
# See below for all YAML options
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM 
IndentWidth: 4
ColumnLimit: 0  # No column limit
PointerAlignment: Left
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignTrailingComments: true
AlignAfterOpenBracket: true
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments 
IndentPPDirectives: BeforeHash

# Requires Version 12
# AlignArrayOfStructures: Left

# AlignEscapedNewlines:
# BinPackArguments: false
# BinPackParameters: false
# ExperimentalAutoDetectBinPacking: false
# AllowAllParametersOfDeclarationOnNextLine: false
